<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LAT.WorkflowUtilities.DateTimes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LAT.WorkflowUtilities.DateTimes.Properties.Settings>
            <setting name="CRMProjectType" serializeAs="String">
                <value>WORKFLOW</value>
            </setting>
            <setting name="CRMTestType" serializeAs="String">
                <value />
            </setting>
        </LAT.WorkflowUtilities.DateTimes.Properties.Settings>
    </applicationSettings>
</configuration>